body {
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#camera {
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
    background: black;
}

#output {
    margin-top: 20px;
    padding: 15px;
    background: #222;
    border-radius: 10px;
    font-size: 22px;
}
