body {
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial;
}

#camera {
    width: 90%;
    max-width: 500px;
    border: 3px solid #00ff88;
    border-radius: 10px;
}

#output {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
}

.scoreboard {
    font-size: 25px;
    margin-bottom: 20px;
}

#decision {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: yellow;
}

button {
    margin: 10px;
    padding: 15px 30px;
    background: #00ff88;
    border: none;
    font-size: 17px;
    border-radius: 8px;
}


